<!-- banner -->  
<div class="banner position-relative d-none d-md-block vh-100">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 text-white position-absolute top-50 translate-middle-y">
        <h2 class="fs-5 fw-bold mb-3" data-aos="fade-left">台北當代藝術展</h2>
        <p class="fs-2 fw-bold mb-3" data-aos="fade-left">01 JUN - 31 OCT</p>
        <div data-aos="fade-left">
          <a href="#" class="btn btn-pink py-3 px-12 me-2">購買票券</a>
          <a href="#" class="btn btn-outline-light py-3 px-12">詳細資訊</a>
        </div>
      </div>
    </div>
  </div>
</div>