<!-- header -->
<header class="border border-secondary">
  <div class="container">
    <div class="text-center position-relative py-7 py-md-10">
      <h1 class=" fs-7 fs-md-3 lh-base fw-normal my-0">
        <a href="index.html" class="d-block text-primary">
          EXHIBINECTION
        </a>
      </h1>
      <ul class="d-flex text-secondary list-unstyled position-absolute top-50 end-0 translate-middle-y my-0">
        <li>
          <a class="d-none d-md-block py-10 px-6" href="#">Sign in</a>
        </li>
        <li>
          <a class="d-none d-md-block py-10 px-6" href="#">Sign up</a>
        </li>
        <li>
          <a class="d-block position-relative py-10 px-6" href="#">
            <span class="material-icons">confirmation_number</span>
            <span
              class="numberIcon text-white align-top position-absolute translate-middle bg-pink rounded-circle">3</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>