// cartListModal
.modal.rightActive .modal-dialog{
    position: fixed;
    top: 69px;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    transform: translate3d(0%, 0, 0);
    @include media-breakpoint-up(md){
        top: 94px;
    }
}
.modal.rightActive .modal-content {
    overflow-y: scroll;
}
.modal-body{
    max-height: 548px;
}
.cartList{
    max-width: 500px;
    img{
        @include img-cover(120px, 120px)
    }  
}

// 右側捲軸
.scrollbar {
    // 捲軸本身，可以設定寬度
    &::-webkit-scrollbar {
      width: 2px;
      border-radius: 4px;
    }
  
    // 捲軸可以拉的部分
    &::-webkit-scrollbar-thumb {
        background-color: #E31277;
        border: 1px solid #E31277;
    }
  
    // 捲軸空的地方，也可以說背景的顏色
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 3px 9px $light;
    } 
}